<header>
  <div class="header_wrapper">
    <div class="logo">Glass Painting</div>

    <nav class="navigation_wrapper">
      <a routerLink="/home" class="router_link">Home</a>

      <a class="router_link" routerLink="/make" *ngIf="userAuthenticated"
        >Order your own</a
      >

      <a class="router_link" routerLink="/catalogue">Catalogue</a>

      <a class="router_link" routerLink="/liked" *ngIf="userAuthenticated"
        >My Liked Articles</a
      >
    </nav>

    <div class="search_bar_wrapper">
      <div class="loged_user" *ngIf="userAuthenticated">
        Hello, {{ email }}!
      </div>
    </div>

    <div class="user_buttons_wrapper">
      <ng-container *ngIf="userAuthenticated">
        <button class="logout user_guide_button" (click)="logout()">
          Logout
        </button>
      </ng-container>

      <ng-container *ngIf="!userAuthenticated">
        <button class="user_guide_button" routerLink="/users/login">
          Login
        </button>

        <button class="user_guide_button" routerLink="/users/register">
          Register
        </button>
      </ng-container>
    </div>
  </div>
</header>
