<div class="register_page">
  <div class="register_wrapper">
    <div class="heading">Login</div>

    <div class="error_register" *ngIf="errorMsg">{{ errorMsg }}</div>

    <form class="ng_form" [formGroup]="form" (ngSubmit)="login()">
      <input
        class="input_field"
        type="email"
        placeholder="Email address"
        name="email"
        formControlName="email"
      />
      <ng-container *ngIf="form.get('email')?.touched">
        <div
          class="error_register"
          *ngIf="form.get('email')?.errors?.['required']"
        >
          Email is required!
        </div>
        <div
          class="error_register"
          *ngIf="form.get('email')?.errors?.['appEmailValidator']"
        >
          Email is invalid!
        </div>
      </ng-container>
      <input
        class="input_field"
        type="password"
        placeholder="Password"
        name="password"
        formControlName="password"
      />
      <ng-container *ngIf="form.get('password')?.touched">
        <div
          class="error_register"
          *ngIf="form.get('password')?.errors?.['required']"
        >
          Password is required!
        </div>
      </ng-container>
      <button class="sign_in_button" type="submit" [disabled]="form.invalid">
        Log in
      </button>

      <div class="log_in_link">
        If you don't have an account?
        <a routerLink="/users/register" class="sign_in">Sign Up</a>
      </div>
    </form>
  </div>
</div>
