<div class="register_page">
  <div class="register_wrapper">
    <div class="heading">Login</div>

    <div class="error_register">Error! Invalid password!</div>

    <form class="ng_form">
      <input class="input_field" type="email" placeholder="Email address" />

      <input class="input_field" type="password" placeholder="Password" />

      <button class="sign_in_button" type="submit">Log in</button>

      <div class="log_in_link">
        If you don't have an account?
        <a routerLink="users/register" class="sign_in">Register</a>
      </div>
    </form>
  </div>
</div>
